<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSU_Launcher.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MSU_Launcher.Settings1>
            <setting name="MSUPathSetting" serializeAs="String">
                <value>C:\MSU</value>
            </setting>
            <setting name="QUsb2SnesPathSetting" serializeAs="String">
                <value>C:\ProgramData\BerserkerMultiWorld\QUsb2Snes\QUsb2Snes.exe</value>
            </setting>
            <setting name="LiveSplitPathSetting" serializeAs="String">
                <value>C:\livesplit\rando.lsl</value>
            </setting>
            <setting name="LiveSplitEnabledSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmoTrackerPathSetting" serializeAs="String">
                <value>C:\Program Files (x86)\EmoTracker\EmoTracker.exe</value>
            </setting>
            <setting name="EmoTrackerEnabledSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadsPathSetting" serializeAs="String">
                <value>%userprofile%\downloads</value>
            </setting>
            <setting name="OverwriteSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomMSUSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QUsb2SnesEnabledSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </MSU_Launcher.Settings1>
    </userSettings>
</configuration>